# Checkpoints
**/*.ipynb_checkpoints/
*.pyc

# Virtual Environments
venv/
env/
.env

# Dependencies
node_modules/



 .ipynb_checkpoints/

 Ignore other virtual documents or temporary state files 

.tmp

.sage-swp

.virtual_documents

*DS_Store/
